body {
  background: #f4f9fd;
}
form {
  padding-top: 30px;
  width: 20%;
}
h1,
h2,
p {
  text-align: center;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 18px;
}
h2 {
  font-size: 40px;
}

a {
  font-size: 40px;
  font-weight: 300;
}
span {
  padding: 25px;
}
.border {
  margin-top: 40px;
  padding-bottom: 15px;
  border-radius: 8px;
  border: 1px;
  box-shadow: 10px 30px 50px rgba(50 67 100 / 10%);
  background-color: white;
}
.units {
  position: relative;
  font-size: 16px;
  top: -23px;
  padding: 0px;
  margin-right: 55px;
}
.info {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.forecast {
  text-align: center;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 220;
}
#description {
  text-transform: capitalize;
}
#degree {
  padding: 0px;
  font-size: 50px;
  font-weight: 230;
}
#city {
  text-transform: capitalize;
  font-weight: 250;
}

#windspeed {
  padding: 0px;
}
#humidity {
  padding: 0px;
}
#source-link {
  font-size: 16px;
  padding-left: 40px;
  text-decoration: none;
}
#celsius {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  padding-right: 2px;
}
#fahrenheit {
  position: relative;
  font-size: 16px;
  text-decoration: none;
}
.units .active {
  color: black;
  cursor: default;
}
